# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# If using Django migrations:
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.*

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

uploads/
chroma_db_nccn/
chroma_dbs/